

#meio-baixo {
	width: 100%;
	height: 1200px;
	background-color: #2d2e32;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 70px;
}


#titulo-projetos{
	width: 100%; 
	margin: 10px;
	font-size: 50px;
	color: #fff;
	text-align: center;
}

.titulo-projeto{
	font-size: 30px;
	color: #fff;
}

.subtitulo-projetos{
	font-size: 15px;
	width: 280px;
	color: #fff;
}

.botao-projetos{
	background-color: #20a6ff;
	padding: 10px;
	font-size: 18px;
	border: 0;
}

.botao-projetos:hover{
	opacity: 70%;
	cursor: pointer;
}

.link-projetos{
	text-decoration:none;
	font-weight: bold;
	color: #fff;
}

#meio-baixo-cima{
	display: flex; 
	align-items: center; 
	justify-content: center; 
	flex-direction: row;
}

#descricao1{
	margin: 30px; 
	display: flex; 
	flex-direction: column; 
	gap: 20px;
}

#slider1 {
	margin: 0 auto;
	width: 700px;
	height: 400px;
	overflow: hidden;
	
}

.slides{
	width: 400%;
	height: 400px;
	display: flex;
}

.slides input {
	display: none;

}

.slide{
	width: 25%;
	position: relative;

}

.slide img{
	width: 700px;
}

.slide img{
	width: 700px;
}

.manual-navigation{
	position: absolute;
	width: 700px;
	margin-top:-40px;
	display: flex;
	justify-content: center;
}

.manual-btn{
	border: 2px solid #ffffff;
	padding: 5px;
	border-radius:10px;
	cursor: pointer;
	transition: 0.7s;
}

.manual-btn:not(:last-child){
	margin-right:40px;
}

.manual-btn:hover{
	background-color: #fff;
}

#radio1:checked ~ .first{
	margin-left:0;
}

#radio2:checked ~ .first{
	margin-left:-25%;
}

#radio3:checked ~ .first{
	margin-left:-50%;
}

#radio4:checked ~ .first{
	margin-left:-75%;
}

.navigation-auto div {
	border: 2px solid #20a6ff;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.7s;
}

.navigation-auto{
	position: absolute;
	width: 700px;
	margin-top: 360px;
	display: flex;
	justify-content: center;
}

.navigation-auto div:not(:last-child){
	margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
	background-color: #20a6ff;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
	background-color: #20a6ff;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
	background-color: #20a6ff;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
	background-color: #20a6ff;
}

#meio-baixo-meio{
	display: flex; 
	align-items: center; 
	justify-content: center; 
	flex-direction: row;
}

#descricao2{
	margin: 30px; 
	display: flex; 
	flex-direction: column; 
	gap: 20px;
}

#slider2 {
	margin: 0 auto;
	width: 700px;
	height: 400px;
	overflow: hidden;
}

.slides2{
	width: 400%;
	height: 400px;
	display: flex;
}

.slides2 input {
	display: none;

}

.slide2{
	width: 25%;
	position: relative;
}

.slide2 img{
	width: 700px;
}

.manual-navigation2{
	position: absolute;
	width: 700px;
	margin-top:-40px;
	display: flex;
	justify-content: center;
}

.manual-btn2{
	border: 2px solid #2f2f2f;
	padding: 5px;
	border-radius:10px;
	cursor: pointer;
	transition: 0.7s;
}

.manual-btn2:not(:last-child){
	margin-right:40px;
}

.manual-btn2:hover{
	background-color: #fff;
}

#radio1²:checked ~ .first2{
	margin-left:0;
}

#radio2²:checked ~ .first2{
	margin-left:-25%;
}

#radio3²:checked ~ .first2{
	margin-left:-50%;
}

#radio4²:checked ~ .first2{
	margin-left:-75%;
}

.navigation-auto2 div {
	border: 2px solid #20a6ff;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.7s;
}

.navigation-auto2{
	position: absolute;
	width: 700px;
	margin-top: 360px;
	display: flex;
	justify-content: center;
}

.navigation-auto2 div:not(:last-child){
	margin-right: 40px;
}

#radio1:checked ~ .navigation-auto2 .auto-btn1²{
	background-color: #20a6ff;
}

#radio2:checked ~ .navigation-auto2 .auto-btn2²{
	background-color: #20a6ff;
}

#radio3:checked ~ .navigation-auto2 .auto-btn3²{
	background-color: #20a6ff;
}

#radio4:checked ~ .navigation-auto2 .auto-btn4²{
	background-color: #20a6ff;
}

#meio-baixo-baixo{
	display: flex; 
	align-items: center; 
	justify-content: center; 
	flex-direction: row;
}

#descricao3{
	margin: 30px; 
	display: flex; 
	flex-direction: column; 
	gap: 20px;
}

#slider3 {
	margin: 0 auto;
	width: 700px;
	height: 400px;
	overflow: hidden;
}

.slides3{
	width: 400%;
	height: 400px;
	display: flex;
}

.slides3 input {
	display: none;

}

.slide3{
	width: 25%;
	position: relative;
}

.slide3 img{
	width: 700px;
}

.manual-navigation3{
	position: absolute;
	width: 700px;
	margin-top:-40px;
	display: flex;
	justify-content: center;
}

.manual-btn3{
	border: 2px solid #ffffff;
	padding: 5px;
	border-radius:10px;
	cursor: pointer;
	transition: 0.7s;
}

.manual-btn3:not(:last-child){
	margin-right:40px;
}

.manual-btn3:hover{
	background-color: #fff;
}

#radio1³:checked ~ .first3{
	margin-left:0;
}

#radio2³:checked ~ .first3{
	margin-left:-25%;
}

#radio3³:checked ~ .first3{
	margin-left:-50%;
}

#radio4³:checked ~ .first3{
	margin-left:-75%;
}

.navigation-auto3 div {
	border: 2px solid #20a6ff;
	padding: 5px;
	border-radius: 10px;
	cursor: pointer;
	transition: 0.7s;
}

.navigation-auto3{
	position: absolute;
	width: 700px;
	margin-top: 360px;
	display: flex;
	justify-content: center;
}

.navigation-auto3 div:not(:last-child){
	margin-right: 40px;
}

#radio1:checked ~ .navigation-auto3 .auto-btn1³{
	background-color: #20a6ff;
}

#radio2:checked ~ .navigation-auto3 .auto-btn2³{
	background-color: #20a6ff;
}

#radio3:checked ~ .navigation-auto3 .auto-btn3³{
	background-color: #20a6ff;
}

#radio4:checked ~ .navigation-auto3 .auto-btn4³{
	background-color: #20a6ff;
}